// RESETS
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
.ms_link {
    color: $primary-color;
}

// buttons
.ms_btn {
    padding: 0.2em 1em;
    display: inline-block;
    border: none;
    border-radius: 10rem;
    background-color: $secondary-color;
    color: $primary-color;

    &:hover {
        text-decoration: none;
        color: $primary-color;
    }
    &-secondary {
        background-color: $primary-color;
        color: $secondary-color;

        &:hover {
            text-decoration: none;
            color: $secondary-color;
        }
    }
    &-tertiary {
        background-color: $tertiary-color;
        color: $primary-color;

        &:hover {
            text-decoration: none;
            color: $primary-color;
        }
    }
}

// BOOTSTRAP RESET

ul{
    padding-left: 0;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

.pl-3, .px-3{
    padding-left: 0 !important;
}

.pr-3, .pr-3{
    padding-right: 0 !important;
}


.row{
    --bs-gutter-x: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, .p{
    margin-bottom: 0;
}


// front office style commons 

.main_title{
    margin: 100px auto 0 auto;
    text-align: center;
    width: 40%;
}

.js_button{
    display: inline-block;
    text-align: center;
    padding: 0.7rem 2rem;
    text-transform: uppercase;
    color: white;
    border-radius: 20px;
    font-weight: 900;
    font-size: 0.8rem;
    letter-spacing: 1px;
 }

.js_card{
    padding: 0.5rem 2rem;
}

h2.front-office-style{
    font-weight: 900;
    font-size: 7rem;
    text-shadow: #FFFCA8 2px 2px 0px,
     #9C9C9C 4px 4px 0px;
}

h3.front-office-style{
    font-weight: 700;
    font-size: 2rem;
}

h4.front-office-style{
    font-weight: 700;
    font-size: 1.4rem;
}

h5.front-office-style{
    font-weight: 900;
    font-size: 1.4rem;
}

p.front-office-style{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 900;
}