// TEXT
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// COLOR PALETTE
$text-color: #181f1c;
$primary-color: #ffc509;
$secondary-color: #740602;
$tertiary-color: #264f36;
$danger-color: #f44;
$warning-color: #fb3;
$success-color: #00c851;
