.ms_chart-wrapper {
    margin-inline: auto;
    width: 80%;
    max-width: 1000px;
    aspect-ratio: 2 / 1;
}

// MEDIA QUERIES
@media (max-width: 1024px) {  

    .ms_chart-wrapper {
        width: 90%;
    }
}

@media (max-width: 768px) {  

    .ms_chart-wrapper {
        width: 100%;
    }
}

@media (max-width: 600px) {  

    .ms_chart-wrapper {
        aspect-ratio: 1 / 1;
    }
}